body {
    background-color: black;
}

.texto {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.textomeio {
    text-align: center;
}

.aparecendo {
    opacity: 0;
    animation: aparecendoAnimacao 2s ease-in-out;
}

@keyframes aparecendoAnimacao {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
